*{
    margin: 0;
    padding: 0 ;
}
h1{
    font-size: 30px;
    font-weight: bold;
    font: optional;
    font-style: italic;
    line-height: 39px;
    letter-spacing: 5px;
    text-align: center;
    text-transform: capitalize;
}